<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Generate Project</title>
    <script src="jquery.js"></script>
    <script src="easybar.min.js"></script>
    <script src="socket.io.js"></script>
    <script src="main.js"></script>
    <script src="face-mark.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <div id="overlay">
        <div class="spinner"></div>
        <div class="waiting">Waiting for server ...</div>

    </div>
    <div class="header-section">
        <h1>FACE GENERATE</h1>
    </div>
    <div class="two-column">
        <section id="control-panel">

            <div class="file-upload-container is-not-get">
                <div class="area">
                    <input type="file" id="file-upload" />
                    <img id="img_prev" />
                </div>

                <div class="area refer-info">
                    <input type="file" id="file-upload-refer" />
                    <img id="img_prev_refer" />
                </div>
            </div>
            <div class="progress-container">
                <div id="progress-wrp">
                    <div class="progress-bar"></div>
                    <div class="status">0%</div>
                </div>
            </div>

            <div class="btn-area">
                <select name="" id="select-mode">
                    <option value="auto">Auto Generate</option>
                    <option value="refer">Refer Generate</option>
                </select>

                <span class="span-info style-info">Style per domain</span>
                <input id="num-of-style" class="style-info" type="number" value="1" min="1" max="5">
            </div>

            <div class="select-area">
                <div id="domain-beard">
                    <input type="checkbox">
                    <label for="domain-beard">Beard</label>
                </div>
                <div id="domain-blond-hair">
                    <input type="checkbox">
                    <label for="domain-blond-hair">Blond Hair</label>
                </div>
                <div id="domain-eyeglasses">
                    <input type="checkbox">
                    <label for="domain-eyeglasses">Eyeglasses</label>
                </div>
                <div id="domain-female">
                    <input type="checkbox">
                    <label for="domain-female">Female</label>
                </div>
                <div id="domain-male">
                    <input type="checkbox">
                    <label for="domain-male">Male</label>
                </div>
                <div id="domain-old">
                    <input type="checkbox">
                    <label for="domain-old">Old</label>
                </div>
                <div id="domain-smiling">
                    <input type="checkbox">
                    <label for="domain-smiling">Smiling</label>
                </div>
                <div id="domain-all" class="style-info">
                    <input type="checkbox">
                    <label for="domain-all">All</label>
                </div>
            </div>


            <div class="btn-area">
                <button id="btn-execute">Excute</button>
            </div>

            <div class="progress-bar-select-style style-info">
                <progress id="style-progress-bar" value="0" max="1"></progress>
            </div>


<!--            <div class="select-area-custom">-->
<!--                <div>-->
<!--                    <label for="merge-domain">Merge domain: </label>-->
<!--                    <input type="checkbox" id="merge-domain">-->
<!--                </div>-->

<!--            </div>-->

        </section>

        <div class="divide-area"></div>

        <section id="result-panel">
            <div id="show-result">
                <button id="btn-hide-label" class="label-btn">Hide label</button>
                <button id="btn-show-label" class="label-btn">Show label</button>
            </div>
            <div class="image-container" id="large-image-container">
                <canvas id="canvas-large-image">Your browser doesn't support canvas</canvas>
            </div>
        </section>

    </div>
</body>
</html>